body{
  width: 960px;
  height: auto;
  margin: auto;
  padding: auto;
  text-align: center;
  background:  #bf6ebf;
}
#hh {
  font-family: monospace;
  font-size: 50px;
  text-decoration: underline;
  animation: pulse 5s infinite;
}
@keyframes pulse {
  0% {
    color: #001F3F;
  }
  10% {
    color: #815856;
  }
  20%{
    color: yellow;
  }
  30%{
    color: blue;
  }
  40%{
    color: white;
  }
  50%{
    color: grey;
  }
  60%{
    color: pink;
  }
  70%{
    color: black;
  }
  80%{
    color: #251823;
  }
  90%{
    color: orange;
  }
  100%{
    color: red;
  }
}

#i1{
  width: 800px;
  height: 60px;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  font-size: 15px;
  font-family: monospace;
  font-weight: bold;
}
